

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.nav-text ul{
    text-transform: uppercase;
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

h2, h3{
    text-transform: uppercase;
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

.img-center {
	margin: 0 auto;
}

footer p {
    margin: 0;
    padding: 10px 0;
    text-align: left;
    background: #222222;
    color: white;
    font-size: x-small;
}

.searchbar-area{
    margin-top: 20px;
}

.navBar{
    height: 80px;
}

.navbar-nav{
    margin-top: 20px;
}

.search-results{
    background-color: white;
    opacity: 0.9;
}