body {
    margin-top: 50px;
}

.full {
    background: url('http://gdurl.com/1DKh') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


.profile-pic img{
    margin: 0 auto;
    width: 250px;
    height: auto;
}

body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

.nav-text ul{
    text-transform: uppercase;
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    font-size: 1.25em;
    line-height: 1.6;
    color: #000;
}

hr {
    max-width: 400px;
    border-color: #999999;
}

.user-name {
    text-transform: capitalize;
    margin: 0;
    font-size: 3em;
}

.tagline-divider {
    margin: 15px auto 3px;
    max-width: 250px;
    border-color: #999999;
}

.info_box{
    align-content: center;
}

.box {
    margin-bottom: 20px;
    padding: 30px 15px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.boxRight {
    margin-left: 10px;
}

.boxLeft{
    margin-right: 10px;
}

.intro-text {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 1px;
}


footer p {
    margin: 0;
    padding: 10px 0;
    text-align: left;
    background: #222222;
    color: white;
    font-size: x-small;
}

@media screen and (min-width:1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}

.buttons_right{
    float: right;
}

.button_center{
    padding-left: 22%;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    line-height: 1;
    width: 300px;
    height: 200px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.panel-stretch{
    height: 253px;
}

.logged-in{
    color: white;
    margin-top: 10px;
    margin-left: 20px;
    font-size: small;
    font-family: Arial;
    text-transform: none;
    font-weight: 100;
}
.nav-text li{
    margin:0px;
    line-height: 0px;
    margin-top:0px;
}

.nav-text ul{
    margin:0px;
    line-height: 0px;
    margin-top:0px;
}

.navbar-nav{
    margin-top: 5px;
    margin:0px;
    line-height: 0px;
    margin-top:10px;
    padding-bottom: 0px;
}

/*SEARCH BAR START*/
#input_search{
    border: solid 1px #000;
    /*border-top-right-radius: 6px;*/
    border-top-left-radius: 6px;
    /*border-bottom-right-radius: 6px;*/
    border-bottom-left-radius: 6px;
    padding: 3px;
}

#search_result{
    position: absolute;
    width: 350px;
    display: none;
    margin-top: -1px;
    border: solid 1px #dedede;
    border-top: 0px;
    overflow: hidden;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    -moz-border-bottom-right-radius: 6px;
    -moz-border-bottom-left-radius: 6px;
    box-shadow: 0px 0px 5px #999;
    background-color: white;
}

.display_box{
    border: solid 1px #dedede;
}

.display_box:hover{
    background: #3bb998;
    color: #FFFFFF;
    cursor: pointer;
}

.searchbar-area{
    margin-top: 30px;
    margin-left: 50px;
    line-height: 0px;
}
/*SEARCH BAR END*/