form{
    width: 50%;
    display: inline-block;
    text-align: center;
}

.alert {
    padding: 30px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 60%;
    display: inline-block;
    text-align: center;
}

.error{
    font-size: 12px;
    color: red;
}

img { -ms-interpolation-mode: bicubic; }